# Copy this to .env and fill in values

GITHUB_TOKEN=your_github_token
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret

DATABASE_URL=your_postgresql_database_url

JWT_SECRET=your_jwt_secret